@import '../../App.module.scss';
.wrapperBox{
    position: relative;
    width: 100%;
    max-width: 1920px;
    // min-height: 700px;
    padding: 95px 0;
}

.contentCenter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.background_blue{
    background-color: $bg-blue;
}
