@import '../../App.module.scss';

.background_blue{
    background-color: $bg-blue;
}

.textAbout{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    margin-bottom: 28px;
    p:not(:last-child){
        margin-bottom: 13px;
    }
}
