@import '../../App.module.scss';

.formModule{
   border: 1px solid black;
   text-align: center;
   label{
    display: block;
   }
}

.btnSub{
    display: block;
    width: 147px;
    height: 41px;
    background-color:$bg-orange;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 18px;
    color:#fff;
    outline: none;
    border: none;
    margin: 0 auto;
    margin-top: 45px;
    cursor: pointer;
}